@font-face {
    font-family: 'Icones';
    src: url(../font/icones.ttf);
}

body{
    background-color: #1D232A;
    font-family: 'Open Sans', 'Icones', sans-serif;
    color: #FFFFFF; 
}

.principal{
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    padding: 24px;
    gap: 16px;
}

.titulo-pagina{
    font-size:1.5rem;
    font-weight: 700;
}
