.cabecalho{
    align-items: center;
    background-color: #15191C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.cabecalho  .icone{
    font-size: 1.5rem;
}

.cabecalho__menu > .icone::before{
    content: '\e904';
}

.cabecalho__notificacao > .icone::before{
    content: '\e906';
}

.cabecalho__logo{
    width: 3rem;
}